/* Global */
*, *::before, *::after {
    box-sizing: border-box; }

  
  body {
    margin: 0;
    text-align: center;
    background: #fff;
    color: #c23616;
    font-size: 16px;
    line-height: 1.7;
    font-family: "Josefin Sans", sans-serif; }

#menu-container {
      text-align: left;
      background: #ffa801;
    
}

#menu-container li {
      display: inline-block;
      margin-right: 40px;
    }

#menu-container a {
  text-decoration: none;
  color: #FF0000;
  }

#menu-container a:hover {
  color: #FFA801;
}

#date-container {
    position: absolute;
    left: 80%;
    color: #ffa801;
}
  
  section {
    padding: 108px 0 108px 0; }
  
  .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px; 
    
}
  
  /* Splash */
  .splash {
    height: 100vh;
    position: relative;
    background-image: url(https://images.pexels.com/photos/358238/pexels-photo-358238.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; }
  
  .splash i {
    font-size: 30px;
    background: #ffa801;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #ff0000;
    border-radius: 50%; }
  
  .splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  
  .page-title {
    color: #ff0000;
    font-size: 60px;
    margin: 48px 0 0 0;
    position: relative;
    font-family: "Open Sans", sans-serif; }
  
  .page-title::after {
    position: absolute;
    content: '';
    bottom: -24px;
    left: 50%;
    width: 300px;
    height: 10px;
    transform: translateX(-50%);
    background: #ffa801; }
  
  .page-subtitle {
    color: #ff0000;
    font-size: 26px;
    margin: 48px 0 0 0; }
  
  /* Intro */
  .intro {
    background: #ffa801; }
  
  .intro p {
    width: 70%;
    margin: 0 auto;
    padding: 48px 0;
    font-size: 24px;
    border: 2px solid #ff0000;
    border-top: cover;
    border-right: 0;
    border-bottom: cover;
    border-left: 0; }
  
  /* Section */
  .section-title {
    position: relative;
    font-size: 36px;
    margin: 0 0 60px 0;
    font-family: "Open Sans", sans-serif; }
  
  .section-title::after {
    position: absolute;
    content: '';
    bottom: -24px;
    left: 50%;
    width: 50%;
    height: 10px;
    transform: translateX(-50%);
    background: #ffa801; }
  
  /* About */
  .about {
    background: #d1d8e0; }
  
  /* Skills */
  [class^="skill-"] {
    position: relative; }
  
  .skill-image {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden; }
  
  .skill-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  
  .skill-right .skill-image {
    right: 0; }
  
  .skill-right .skill-description {
    padding: 36px 55% 36px 0;
    text-align: right; }
  
  .skill-left .skill-description {
    padding: 36px 0 36px 55%;
    text-align: left; }
  
  /* Gallery */
  /* Contact */
  form {
    background: #26313B;
    display: inline-block;
    /* flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around; */
    min-width: 250px;
    max-width: 500px;
    padding: 30px;
    text-align: center;
    height: 400px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    
 }
 .skills2 {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {width: 90%; background-color: #ffa801;}
.css {width: 80%; background-color: #ffa801;}
.js {width: 65%; background-color: #ffa801;}
.php {width: 60%; background-color: #ffa801;}
  
  /* Footer */
  .page-footer {
    background: #242424; }
  